/* Title: To-Do List Web Application Style Sheet */
/* Author: Rashed Hadi */
/* Date Started: Thursday March 28th, 2024 */
/* Date Completed: Friday April 5th, 2023*/

/* Styling for whole web application */
* {
    margin: 0px;
    font-family: 'Montserrat';
}

/* Background styling */
.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(145deg,  #b0b6ba, #0b1d34);
    padding: 25px;
}

/* Styling for the white box that holds all the content */
.main-element {
    width: 100%;
    max-width: 700px;
    margin: 200px auto 50px;
    padding: 30px 15px 20px;
    background: #ffffff;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 5px #b0b6ba;
}

/* Allignment of the logo and title */
.header {
    display: flex;
    align-items: center;
}

/* Styling for the title */
.header h {
    display: inline-block;
    font-size: 40px;
    letter-spacing: 4px;
    padding-left: 10px;
    margin-bottom: 20px;
    width: 35%;
    /* Following used for the title animation: */
    border-right: 4px solid;
    white-space: nowrap;
    overflow: hidden;
    animation: 
        typing 2s,
        cursor .4s step-end infinite alternate;
}

/* Blinking Cursor Animation: */
@keyframes cursor {
    50% {border-color: transparent}
}

/* Typing Animation: */
@keyframes typing {
    from {width: 0}
}

/* Styling for logo */
.main-element img {
    width: 75px;
    height: 75px;
    padding-right: 15px;
    margin-bottom: 20px;
}

/* Allignment for the create new task input and button */
.new-task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px 5px 15px;
}

/* Styling for the create task button */
.new-task button {
    padding: 10px;
    border: none;
    font-size: 17px;
    background: linear-gradient(150deg,  #b0b6ba, #117fcf);
    border-radius: 10px;
    cursor: pointer;
}

/* Hover effect for button */
.new-task button:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

/* Styling for the input field */
.new-task input {
    border: none;
    outline: none;
    font-size: 17px;
    width: 535px;
    padding: 10px;
    background: #b0b6ba;
    border-radius: 10px;
}

/* class to add red color to placeholder text on empty input */
.color-class-empty::-webkit-input-placeholder {
    color: #DC143C;
}

/* class to add red color to input text on invalid length */
.color-class-length{
    color: #DC143C;
}


/* Allignment for task list and 'To Do' header */ 
.tasks{
    display: flex;
    flex-direction: column;
    margin: 5px 10px 5px 15px;
}

/* Styling for 'To Do' header */
.tasks h2 {
    font-size: 25px;
    letter-spacing: 4px;
}

/* General styling for tasks in task list */
.tasks ul li {
    font-size: 17px;
    cursor: pointer;
    padding: 20px 0px 5px 50px;
    list-style: none;
    position: relative;
}

/* Styling for uncompleted tasks in list */
.tasks ul li::before {
    content: '';
    background-image: url(images/Uncompleted-Task.png);
    background-position: center;
    background-size: cover;
    height: 35px;
    width: 35px;
    top: 12px;
    left: 8px;
    position: absolute;
}

/* Styling for completed tasks in list */
.tasks ul li.completed::before {
    background-image: url(images/Completed-Task.png);
}

/* Hover effect for tasks */
.tasks ul li:hover {
    transition: box-shadow 0.2s, padding 0.2s, color 0.2s;
    color: #117fcf;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
}

/* Change color of completed task to gray */
.tasks ul li.completed {
    color: #b0b6ba;
}

/* Styling for delete button in span */
.tasks ul li span {
    visibility: hidden;
    position: absolute;
    top: 10px;
    right: 0;
    font-size: 11px;
    text-align: center;
    line-height: 40px;
    color: crimson;
    
}

/* Make span to appear only on hover */
.tasks ul li:hover span{
   visibility: visible;
}